{% extends 'zoonicWebsite/main.html' %}
{% load static %}
{% block sidebar %}
    {% include 'zoonicWebsite/components/sidebar.html' %}
{% endblock %}
{% block topbar %}
    {% include 'zoonicWebsite/components/topbar.html' %}
{% endblock %}
{% block container %}
    {% if classroom == 'General' %}
    <h1 class="container-title">
       Dashboard de Promedio <span id="classroom">{{classroom}}</span>, Dificultad <span id="difficulty">{{difficulty}}</span>
    </h1>
    {% else %}
    <h1 class="container-title">
        Dashboard de Promedio Salón <span id="classroom">{{classroom}}</span>, Dificultad <span id="difficulty">{{difficulty}}</span>
    </h1>
    {% endif %}
    {% for key, level in data.items %}
        {% include 'zoonicWebsite/components/averageContainer.html' %}
    {% endfor %}
    {% include 'zoonicWebsite/components/pieChartCard.html' %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/chart.js/Chart.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pieChart.js' %}"></script>
{% endblock %}