{% extends 'zoonicWebsite/main.html' %}
{% load static %}
{% block topbar %}
    {% include 'zoonicWebsite/components/topbarAdmin.html' %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block container %}
    <h1 class="container-title">
        Creador de Usuario
    </h1>

    <div class="edit-card">
        <div class="user-form-line">
            Username:<input type="text" id="username-input"" required>
        </div>
        <div class="user-form-line">
            E-Mail: <input type="email" id="email-input">
        </div>
        <div class="user-form-line">
            Nombre: <input type="text" id="firstname-input">
        </div>
        <div class="user-form-line">
            Apellido(s): <input type="text" id="lastname-input">
        </div>
        <div class="user-form-line">
            Contraseña: <input type="password" id="password-input">
        </div>
        <div class="user-form-line">
            Staff: <div class="checkbox-apple">
                    <input class="yep" id="isstaff-input" type="checkbox">
                    <label for="isstaff-input"></label>
                    </div>
        </div>
        <div class="user-form-buttons">
            <button onclick="location.href='{% url "zoonicWebsite:read" %}'">Regresar</button>
            <button id="create-user">Guardar</button>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/createUser.js' %}"></script>
{% endblock %}