{% extends 'zoonicWebsite/main.html' %}
{% block topbar %}
    {% include 'zoonicWebsite/components/topbarAdmin.html' %}
{% endblock %}
{% block container %}
    <h1 class="container-title">
        Usuarios
    </h1>
    {% include 'zoonicWebsite/components/crudCard.html' %}
    <button onclick="location.href='{% url 'zoonicWebsite:general' 1 %}'" class="dashboard-button">
        Ir al Dashboard
    </button>
    <button onclick="location.href='{% url 'zoonicWebsite:create' %}'" class="dashboard-button">
        Crear Usuario
    </button>
{% endblock %}