{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'zoonicWebsite/components/head.html'%}
    <body>
        <div class="login-background">
            <div class="login-container">
                <a href="{% url 'zoonicWebsite:general' 1 %}">
                    <span class="las la-paw"></span><span> Zoonic</span>
                </a>
                <h1 style="color: white;">¿Has olvidado tu contraseña?</h1>
                <p style="color: white;">Introduce tu dirección de correo electrónico y te enviaremos instrucciones para crear una nueva.</p>
                <br>
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
	        	        {{ field }}
	        	        {% if field.errors %}
    	        		    <small>{{ field.errors|striptags  }}</small> 
	        	        {% endif %}
		            {% endfor %}
                    <input type="submit">
                </form>
                <p><a href="{% url 'zoonicWebsite:log_in' %}">Cancel</a></p>
            </div>
        </div>
    </body>
<html>