{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'zoonicWebsite/components/head.html'%}
    <body>
        <div class="login-background">
            <div class="login-container">
                <a href="{% url 'zoonicWebsite:log_in'%}">
                    <span class="las la-paw"></span><span> Zoonic</span>
                </a>
                <h2 style="color: white;">Restablecer contraseña</h2>
	            <p style="color: white;">Compruebe su bandeja de entrada y siga las instrucciones para restablecer su contraseña.</p>
            </div>
        </div>
    </body>
<html>