{% load static %}
<img src="{{ protocol }}://{{ domain }}{% static 'img/ZoonicFullLogo.png' %}" alt="Logo zoonic">
<p>Hola</p>

<p>Estás recibiendo este mensaje porque se socilitó recuperar la contraseña en Zoonic <br>
    Si no solicitaste recuperar tu contraseña puedes hacer caso omiso a este mensaje
</p>

<p>Da click aquí para recuperar tu contraseña:</p>

<a href="{{ protocol }}://{{ domain }}{% url 'zoonicWebsite:password_reset_confirm' uidb64=uid token=token%}">{{ protocol }}://{{ domain }}{% url "zoonicWebsite:password_reset_confirm" uidb64=uid token=token %}</a>

<p>Gracias</p>
<p>Equipo de zoonic</p>