{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'zoonicWebsite/components/head.html'%}
    <body>
        <div class="login-background">
            <div class="login-container">
                <a href="{% url 'zoonicWebsite:general' 1 %}">
                    <span class="las la-paw"></span><span> Zoonic</span>
                </a>
                <h1 style="color: white;">Reset Password</h1>
                <br>
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field }}
    	        	    {% if field.errors %}
	        		        <small>{{ field.errors|striptags  }}</small> 
	        	        {% endif %}
		            {% endfor %}
                    <input type="submit" value="Confirm">
                </form>
            </div>
        </div>
    </body>
<html>