{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'zoonicWebsite/components/head.html'%}
    <body>
        <div class="login-background">
            <div class="login-container">
                <a href="{% url 'zoonicWebsite:general' 1 %}">
                    <span class="las la-paw"></span><span> Zoonic</span>
                </a>
                <h1 style="color: white;">Restablecimiento con éxito</h1>
                <p style="color: white;">Volver al inicio de sesión</p>
                </a>
            </div>
        </div>
    </body>
<html>