{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'zoonicWebsite/components/head.html'%}
    <body>
        <div class="login-background">
            <div class="login-container">
                <a href="{% url 'zoonicWebsite:log_in'%}">
                    <span class="las la-paw"></span><span> Zoonic</span>
                </a>
                <h2>Reset Password</h2>
	            <p>Please check your inbox and follow the instruction to reset your password.</p>
            </div>
        </div>
    </body>
<html>