{% load static %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        
        {% if classroom == 'General' %}
            <h1 class="h3 mb-0 text-gray-800">
                Dashboard de Promedio {{classroom}}, Dificultad {{difficulty}}
            </h1>
        {% else %}
            <h1 class="h3 mb-0 text-gray-800">
                Dashboard de Promedio Salón {{classroom}}, Dificultad {{difficulty}}
            </h1>
        {% endif %}
    </div>
    <!-- Content Row -->


    <!-- Content Row -->
    <div class="row">
        <!-- Content Column -->
        <div class="col-lg-12 mb-4">
            {% for key, level in data.items %}
                <!-- Project Card Example -->
                {% include 'website/progressbarcard_average.html' %}
            {% endfor %}
        </div>
    </div>

    <!-- JavaScript -->
    <script type="text/javascript" src="{% static 'js/studentStatistics.js' %}"></script>
</div>