{% extends "website/joint.html" %}
{% load static %}
{% block main %}
    <!-- Content Row -->
    <div class="row justify-content-center">
        <div class="col-sm-6 mb-4">

            <!-- Approach: Simple Card -->

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Bienvenido</h6>
        </div>
        <div class="card-body">
            <p>Introduce los parametros de busqueda.</p>
                    </div>
    </div>
        </div>
    </div>
{% endblock %}