{% load static %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Level {{key}}
        </h6>
    </div>

    <div class="card-body">
        <!-- Automated Progress Bars -->
        {% if level %}
            {% for iteration in level %}
                <h4 class="small font-weight-bold">Iteración de {{iteration.date}}<span
                    class="float-right">{{iteration.grade}}</span></h4>
                <div class="progress mb-4">
                    {% include 'website/selectColor.html' %}
                </div>
            {% endfor %}
        {% else %}
            <p class="mb-0">Sin información disponible de este nivel.</p>
        {% endif %}
    </div>
</div>