{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'zoonicWebsite/components/head.html' %}
<body>
    <!-- Main Content -->
    <div class="main-content">
        <!-- Navbar -->
        <header class="landing-header">
            <a href="{% url 'zoonicWebsite:log_in' %}" class="brand">
                <h2>
                    <span class="las la-paw"></span> Zoonic
                </h2>
            </a>

            <div class="links-wrapper">
                <a href="{% url 'zoonicWebsite:index' %}">
                    Log In
                </a>
                <a href="#minigames">
                    Minigames
                </a>
                <a href="#download">
                    Download
                </a>
            </div>
        </header>
        <main class="landing-main">
            <!-- Cinematic Container-->
            <div class="video-cinematic">
                <video  autoplay muted loop id="vid">
                    <source src="{% static 'img/gameCinematic.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>

                <!-- Video Overlay -->
                <div class="video-overlay">
                    <h2><span class="las la-paw"></span> Zoonic</h2>
                </div>
            </div>
            
            <!-- Minigame Card Container -->
            <div class="card-conatiner" id="minigames">
                <!-- Container's Title -->
                <h2>
                    Minigames
                </h2>

                <!-- Container's Cards -->
                <div class="minigame-card-left hidden">
                    <div class="minigame-card-himg">
                        <h3>
                            N1.1: Alimenta a las Tortugas
                        </h3>
                        <img src="{% static 'img/level1.1.png' %}" alt="card-image">
                    </div>
                    <p>
                        Dale su comida del día a Rex y Delo, cada una de estas pequeñas tortugas del zoológico están hambrientas de sus manzanas.
                    </p>
                </div>
                <div class="minigame-card-right hidden">
                    <div class="minigame-card-himg">
                        <h3>
                            N1.2: Lleva al Corral
                        </h3>
                        <img src="{% static 'img/level1.2.png' %}" alt="card-image">
                    </div>
                    <p>
                        ¡El zoológico está en desorden! Basándote los valores de cada animal, dirígelos al corral hasta obtener el número adecuado de puntos.
                    </p>
                </div>
                <div class="minigame-card-left hidden">
                    <div class="minigame-card-himg">
                        <h3>
                            N2.1: Vuela Águila
                        </h3>
                        <img src="{% static 'img/level2.1.png' %}" alt="card-image">
                    </div>
                    <p>
                        Como un águila volaría, disfruta del vuelo y las vistas en el valle de la Matemática y responde las preguntas cruzando por los aros.
                    </p>
                </div>
                <div class="minigame-card-right hidden">
                    <div class="minigame-card-himg">
                        <h3>
                            N2.2: Alimenta a los Cuervos
                        </h3>
                        <img src="{% static 'img/level2.2.png' %}" alt="card-image">
                    </div>
                    <p>
                        Los cuervos aman las deliciosas hogazas de pan, pero... ¡No hay nadie que los alimente! Por lo tanto, tu misión es alimentarlos satisfaciendo su enorme apetito.
                    </p>
                </div>
                <div class="minigame-card-left hidden">
                    <div class="minigame-card-himg">
                        <h3>
                            N3.1: Huye del Oso
                        </h3>
                        <img src="{% static 'img/level3.1.png' %}" alt="card-image">
                    </div>
                    <p>
                        ¡Uno de los osos que se tienen en cautiverio en el zoológico ha escapado! Huye de él respondiendo las preguntas antes de que te de un zarpazo, o peor aún... te coma entero.
                    </p>
                </div>
            </div>

            <!-- Dowloadables Container -->
            <div class="downloadables-container" id="download">
                <!-- Container's Title -->
                <h2>
                    Download
                </h2>
                <div class="dowloadables-card">
                    <a href="#"><span class="lab la-windows"></span> Windows </a>
                    <a href="#"><span class="lab la-apple"></span> Mac </a>
                </div>
            </div>
        </main>
        
        {% include 'zoonicWebsite/components/footer.html' %}
    </div>

    <script type="text/javascript" src="{% static 'js/scrollAnimation.js' %}"></script>
</body>
</html>