{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'zoonicWebsite/components/head.html' %}
<body>
    <div class="login-background">
        <div class="login-container">
            <a href="{% url 'zoonicWebsite:landing' %}">
                <span class="las la-paw"></span><span> Zoonic</span>
            </a>
            <div class="license-card">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odit adipisci dicta ducimus quas, assumenda praesentium repellat vel labore. Libero quod optio distinctio asperiores omnis nemo at cupiditate excepturi vel.
                </p>
            </div>
        </div>
    </div>
</body>
</html>