{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'zoonicWebsite/components/head.html' %}
<body>
    <!-- Toggle for sidebar -->
    <input type="checkbox" id="nav-toggle">

    <!-- Sidebar -->
    {% block sidebar %}
    {% endblock %}

    <!-- Main Content -->
    <div class="main-content">
        <!-- Topbar -->
        {% block topbar %}
        {% endblock %}

        <!-- Container -->
        <main>
            {% block container %}
            {% endblock %}
        </main>
        
        <!-- Footer -->
        {% include 'zoonicWebsite/components/footer.html' %}
    </div>
    {% include 'zoonicWebsite/components/mainScripts.html' %}
    {% block scripts %}
    {% endblock %}
</body>
</html>