{% extends 'zoonicWebsite/main.html' %}
{% load static %}
{% block topbar %}
    {% include 'zoonicWebsite/components/topbarAdmin.html' %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block container %}
    <h1 class="container-title">
        Editor de <span id="primary_key">{{username}}</span>
    </h1>

    <div class="edit-card">
        <div class="user-form-line">
            Username:<input type="text" id="username-input" value="{{username}}" required>
        </div>
        <div class="user-form-line">
            E-Mail: <input type="email" id="email-input" value="{{email}}">
        </div>
        <div class="user-form-line">
            Nombre: <input type="text" id="firstname-input" value="{{first_name}}">
        </div>
        <div class="user-form-line">
            Apellido(s): <input type="text" id="lastname-input" value="{{last_name}}">
        </div>
        <div class="user-form-line">
            Contraseña: <input type="password" id="password-input">
        </div>
        <div class="user-form-line">
            Admin: <div class="checkbox-apple">
                    <input class="yep" id="isstaff-input" type="checkbox" {% if is_staff %}checked{% endif %}>
                    <label for="isstaff-input"></label>
                    </div>
        </div>
        <div class="user-form-line">
            Salón (opcional): <input type="text" id="classroom-input" value="{{classroom}}">
        </div>
        <div class="user-form-buttons">
            <button onclick="location.href='{% url "zoonicWebsite:read" %}'">Regresar</button>
            <button id="eliminate-user">Eliminar</button>
            <button id="update-user">Guardar</button>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/updateDeleteUser.js' %}"></script>
{% endblock %}