{% load static %}
<header>
    <!-- Icon and brand name -->
    <div class="brand-wrapper">
        <h2>
            <a href="{% url 'zoonicWebsite:general' 1 %}">
                <span class="las la-paw"></span> Zoonic
            </a>
        </h2>
    </div>

    <!-- Profile picture -->
    <div class="user-wrapper">
        <img src="{% static 'img/user.png' %}" alt="user profile picture" srcset="" width="40px" height="40px">
        <div>
            <h3>{{request.user}}</h3>
            <small>{% if request.user.is_staff %}Admin{% else %}Profesor{% endif %}</small>
        </div>
        <a href="{% url 'zoonicWebsite:log_out' %}">
            <span class="las la-sign-out-alt"></span>
        </a>
    </div>
</header>