{% load static %}
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WC6FTKH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- JS -->
<script type="text/javascript" src="{% static 'js/progressBar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/toggleMenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/findStudentMain.js' %}"></script>
<script type="text/javascript" src="{% static 'js/findStudentPhone.js' %}"></script>