{% load static %}
<header>
    <!-- Icon and brand name -->
    <label class="phone-toggle">
        <h2>
            <span class="las la-paw"></span> Zoonic
        </h2>
    </label>

    <!-- Search box -->
    <div class="search-wrapper">
        <input type="search" placeholder="SALÓN" id="input-class-main">
        <input type="search" placeholder="# DE LISTA" id="input-role-number-main">
        <input type="search" placeholder="DIFICULTAD" id="input-difficulty-main">
        <button id="button-search-main"><span class="las la-search"></span></button>
    </div>

    <!-- Profile picture -->
    <div class="user-wrapper">
        <img src="{% static 'img/user.png' %}" alt="user profile picture" srcset="" width="40px" height="40px">
        <div>
            <h3>{{request.user}}</h3>
            <small>{% if request.user.is_staff %}Admin{% else %}Profesor{% endif %}</small>
        </div>
        <a href="{% url 'zoonicWebsite:log_out' %}">
            <span class="las la-sign-out-alt"></span>
        </a>
    </div>
</header>