@use '../globals/variables'
.level-card
    // Views
    background-color: variables.$text-white
    padding: 1rem
    border-radius: 10px

    // Dimensions
    margin: 2rem 0

.level-card hr
    margin: 0.5rem 0
    color: variables.$border-grey
    
.level-card h3
    color: variables.$main-color

